@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET CORE IDENTITY - USER SECURITY ESSENTIALS</h1>
    <h3>Build using ASP.NET Core 6 / 7, Entity Framework, Code-First, and the Repository Pattern.</h3>
    <strong>Build A Strong Foundation in .NET Core Programming</strong>
    <hr />
    <p class="text-start">
        <span>
            <strong>
                &bull; &nbsp; Manually adding Cookie Authentication to projects <br />
                &bull; &nbsp; How to implement User Roles, Claims and Policies <br />
                &bull; &nbsp; How to implement User Authentication and Registration processes <br />
                &bull; &nbsp; Password Policies and Recovery <br />
                &bull; &nbsp; Security Policy Creation and Enforcement <br />
                &bull; &nbsp; Store User Secrets <br />
                &bull; &nbsp; Setup Emailing features for secure Account Creation, Confirmation and Access <br />
                &bull; &nbsp; Identity Scaffolding and Custom Extension <br />
                &bull; &nbsp; How to add Authorization and User Reestrictions <br />
                &bull; &nbsp; How to add Two and Multi-factor Authentication <br />
                &bull; &nbsp; Modern Authentication Methods adding OpenID Connect Authentication using OAuth <br />
                &bull; &nbsp; Facilitate third-party Social logins <br />
            </strong>
        </span>
    </p>
</div>
